<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>
  <% if logged_in? %>
    <div>
      <form action='/tweet' method="post">
        <textarea name='text'></textarea>
        <input type="submit" val='tweet'>
      </form>
      <button><a href="/sign_out">Sign out</a></button>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

</div>


<!--
<p>
        <strong>token:</strong> <%#= @access_token.token %><br>
        <strong>secret:</strong> <%#= @access_token.secret %><br>
      </p>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p> -->
