<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>
  <% if logged_in? %>
    <div>
      <form action='/tweet' method="post">
        <textarea name='text'></textarea>
        <input id='sender' type="submit" val='tweet'>
      </form>
      <button><a href="/sign_out">Sign out</a></button>
      <h1 id='response'></>
    </div>
  <% else %>
    <button ><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

</div>

<script>
  $(document).ready(function(){
    // console.log("loaded");

    var checking = function(res){
      interval = setInterval(function(){
            console.log("Timeout/interval");
            $.ajax({
              url: "/status/" + res,
              type: 'GET',
              success: function(e){
                if (e === "true"){
                  console.log("true");
                  clearInterval(interval);

                  var error = "Twitter Posted!"
                }
                else {console.log("false");
                  var error = "Session Timeout"; };

                $("#response").text(error)

                },
              error: function(){console.log("ERROR")}
            }); // end second Ajax
          }
          ,2000);//end set interval
    }

    $('#sender').click(function(event){
      event.preventDefault()
      console.log("inside click");
      $.ajax({
        url: '/tweet',
        type: 'POST',
        data: {text: $('textarea').val()},
        success: function(res){
          $('#response').text("Waiting ...");
          setTimeOut(checking(res), 3000);
        }// end success
      })// end click
    })// end click
  })// end doc

</script>
